<a href="{{ url_for('views.index') }}" no-decoration>
	<h1 whitesmoke >Rune Tables</h1>
</a>      
<nav>
	<ul>
		<li><a whitesmoke href="{{ url_for('views.login') }}">Login</a></li>
		<li><a whitesmoke href="{{ url_for('views.signup') }}">Sign up</a></li>
	</ul>
</nav>
