body{
    background-color:var(--dark-coffee);    
}
main{  
    height:90vh;
    display:flex;
    align-items:center;
    justify-content: center;
}


.registration-area {
    display:flex;
    padding:20px;
    background-color:whitesmoke ;
    height:300px;
}
.input-area {
    margin:2.5px 0px 2.5px 0px;
}


input {
    height:20px;
    outline:none;
    padding:3px;
}
input:placeholder-shown{
    font-style: italic;
}


input[type=submit]{
    margin-top:5px;
    height: 30px;
    width:90px;
    padding:5px;
    background-color:var(--french-beige);
    color:whitesmoke;
    font-weight: bold;    
    font-style: normal;
    border-color:var(--french-beige);
    border-radius:5px;
}