    {% with messages = get_flashed_messages() %}
        {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <div class="flash-container">
                            <li>{{ message }}</li> 
                            <button type="button" class="flash-message-button"><i class="material-symbols-outlined"> close </i></button>    
                        </div>
                    {% endfor %}
                </ul>
        {% endif %}
    {% endwith %}
