<div class="content-container">
  <div class="header-content">
    <h2>Rune Tables</h2>
    <nav>
      <ul> <!-- Colocar aqui embaixo o link pra função d evisualização de sign in-->
        <li><a href="{{ url_for('views.signup') }}" target="_self">Sign Up</a></li>
        <li><a href="{{ url_for('views.login') }}" target="_self">Log In</a></li>
      </ul>
    </nav>
    </div>        
</div>