{% extends "base.jinja" %}

{% block title %}Home{% endblock %}

{% block body %}
    {% block header %}
        <div class="container">
            <!--Colocar imagem do site, deve ser uma mesa com inscrições runicas-->
        </div>


        <div class="container">
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Contribute to Us</li>
                    <li>Our History</li>
                </ul>
            </nav>
        </div>



    {% endblock %}




















{% endblock %}