{% extends 'module/extends/base.jinja' %}
{% block title %}Login{% endblock %}

{% block header %}
	{% include 'module/includes/standard-header.jinja' %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}
