{% extends 'module/extends/base.jinja' %}

{% block title %}Home{% endblock %}

{% block header %}
	{% include 'module/includes/logged-header.jinja' %}
{% endblock %}
{% block main %}
	<section id="user-information">
		

	</section>
{% endblock %}

{% block footer %}
{% endblock %}
